#CalendarBox { top:0; left:0; padding:5px; border:solid 2px #333; background-color:#fff; z-index:99001; position:absolute; box-sizing:border-box; }
#CalendarBox * {box-sizing:border-box;}
#CalendarBox .pointer { cursor:pointer; }
#CalendarBox .clear { display:block; float:none; clear:both; height:0; width:100%; font-size:0 !important; line-height:0 !important; overflow:hidden; margin:0 !important; padding:0 !important; }
#CalendarBox div.Header {float:left; padding-bottom:5px; text-align:center; color:#000; }
#CalendarBox div.Header form { float:left; width:300px; margin:0; padding:0; font-size:14px }
#CalendarBox div.Header form img { cursor:pointer; vertical-align: middle; }
#CalendarBox div.Header form select {color:#333;}
#CalendarBox div.Header p { float: right; width:300px; margin:0; padding:5px 0 0 0; text-align:center; color:#000; }
#CalendarBox div.Header p strong { font-size:14px; font-weight:bold; }
#CalendarBox div.ListBox { float:left; margin:0; border-top:dashed 1px #9c9c9c; }
#CalendarBox div.ListBox table { float:left; width:300px; margin-right:10px; table-layout:fixed; }
#CalendarBox div.ListBox table.Right { margin-right:0; }
#CalendarBox div.ListBox table tr th { height:30px; font-size:14px; text-align:center; background-color:#F5F5F5; color:#555; }
#CalendarBox div.ListBox table tr td { height:30px; font-size:14px; text-align:center; color:#000; }
#CalendarBox div.ListBox .Disabled { color:#ccc; cursor:default; }
#CalendarBox div.ListBox .Focus { background-color:#f0f0f0; cursor:pointer; }
#CalendarBox div.ListBox .Sun { color:#ff3300; }
#CalendarBox div.ListBox .Sat { color:#0066ff; }
#CalendarBox div.ListBox .Today { background-color:#ff3333; font-size:100%; font-weight:bold; color:#fff; }
#CalendarBox div.Btn {position:relative; width:100%; height:33px; margin-top:5px;}
#CalendarBox div.Btn > p {position:absolute; top:0; width:auto; height:100%;}
#CalendarBox div.Btn > p.left {left:0;}
#CalendarBox div.Btn > p.right {right:0;}

#CalendarBoxDisabled {z-index:70010; position:fixed; top:0; left:0; width:100%; height:100%; background-color:rgba(0, 0, 0, 0.45);}