@charset "utf-8";

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url('../font/Pretendard-Regular.subset.woff2') format('woff2'), url('../font/Pretendard-Regular.subset.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
	src: local('Pretendard Medium'), url('../font/Pretendard-Medium.subset.woff2') format('woff2'), url('../font/Pretendard-Medium.subset.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url('../font/Pretendard-Bold.subset.woff2') format('woff2'), url('../font/Pretendard-Bold.subset.woff') format('woff');
}

.consolas { /* UUID 대응을 위한 폰트 지정 */
    font-family: Consolas, Pretendard, serif;
}

/* CSS 초기화 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,ul,li,dt,dd,figure,figcaption{margin:0;padding:0;box-sizing:border-box;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block; box-sizing:border-box; margin:0; padding:0}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal;}
li{list-style:none;}
caption{text-align:left;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
input,textarea,select{font-size:100%;}
legend{color:#000;}
del,ins{text-decoration:none;}

/* 기본 */
BODY,DIV,TABLE,TH,TD,INPUT,SELECT,TEXTAREA {font-size:var(--font-size); font-family:'Pretendard', 'Malgun Gothic', '맑은 고딕', sans-serif; color:var(--font-color); letter-spacing:-0.02em; font-weight:500;}
.float-clear {display:block;float:none;clear:both;height:0;width:100%;font-size:0 !important;line-height:0 !important;overflow:hidden;}
div:focus { outline:none; }
A:link, A:visited {color:var(--font-color); text-decoration:none;}
A:hover, A:active {color:var(--font-color); text-decoration:underline;}
select::-ms-expand {display: none; }	/*익스플로어에서도 select박스 기본화살표가 안보이고 이미지화살표만 보이게 하기 위해서*/

/* Form Style */
select, input[type=text], input[type=number], input[type=tel], input[type=email], input[type=password], textarea {border:1px solid var(--border-color); background-color:transparent; font-size:var(--font-color); }
select, input[type=text], input[type=number], input[type=tel], input[type=email], input[type=password] {height:var(--height-frmItem); vertical-align:middle;}
select, input[type=text], input[type=number], input[type=tel], input[type=email], input[type=password], textarea {-webkit-appearance:none; -moz-appearance:none; outline:none;}
select, input, textarea {border-radius:0; -webkit-border-radius:0; -moz-border-radius:0; box-sizing:border-box;}

select {padding-left:var(--frmItem-padding); padding-right:40px; background-image:url('../images/bg_select_indicator.png'); background-repeat:no-repeat; background-position:100% 50%;}
select option {background:var(--bg-article)}
input[type=text], input[type=number], input[type=tel], input[type=email], input[type=password] {padding-left:var(--frmItem-padding); padding-right:var(--frmItem-padding)}
input[type=text].date {padding-right:28px; background-image:url('../images/ic_input_calendar.png'); background-repeat:no-repeat; background-position:100% 50%;}
input[type=text].search {padding-left:5px; padding-right:30px; background-image:url('../images/ic_input_search.png'); background-repeat:no-repeat; background-position:100% 50%;}
input[type=text].right {text-align:right;}
input[type=text].noBorder, input[type=number].noBorder, input[type=tel].noBorder, input[type=email].noBorder, input[type=password].noBorder {background-color:transparent; border-style:none;}
textarea {padding:10px; line-height:1.5em; resize:none; overflow-y:auto;}
select:focus, input:focus, input.date:focus {border-color:var(--color-point) !important; color:var(--color-point) !important; background-color:transparent;}

input[type=text]:disabled,
input[type=number]:disabled,
input[type=tel]:disabled,
input[type=email]:disabled,
select:disabled,
textarea:disabled {background-color:var(--bg-article); border:1px solid #222 !important;}

input[type=text]:read-only,
input[type=number]:read-only,
input[type=tel]:read-only,
input[type=email]:read-only,
textarea:read-only {background-color:transparent;}

/* Placeholder */
::-webkit-input-placeholder {/* WebKit, Blink, Edge */ color:#fff; opacity:.5}
:-moz-placeholder {/* Mozilla Firefox 4 to 18 */ color:#fff; opacity:.5;}
::-moz-placeholder {/* Mozilla Firefox 19+ */ color:#fff; opacity:.5;}
:-ms-input-placeholder {/* Internet Explorer 10-11 */ color:#fff; opacity:.5;}
::-ms-input-placeholder { /* Microsoft Edge */ color:#fff; opacity:.5;}

/* 스크롤 */
::-webkit-scrollbar {width:0.6rem; height:0.7rem !important; background:transparent; }
::-webkit-scrollbar-track {background-color:var(--bg-scroll); }
::-webkit-scrollbar-thumb {background-color:var(--bg-scrollThumb); }

/* Label Field */
label.label-field {display:inline-block; height:var(--height-frmItem); margin-left:15px;}
label.label-field:first-child {margin-left:0;}
label.label-field > span {padding-right:10px; font-size:12px; color:#000;}
label.label-field > select,
label.label-field > input[type=text],
label.label-field > input[type=number],
label.label-field > input[type=tel],
label.label-field > input[type=email] {}

/* Button Style */
button.button-style {-webkit-appearance:none; -moz-appearance:none; outline-style:none; cursor:pointer;}
button.button-style:hover {background-color:#e1ddf3;}
button.button-style {width:auto; border-radius:var(--btn-round); -moz-border-radius:var(--btn-round); -webkit-border-radius:var(--btn-round); box-sizing:border-box; font-size:var(--font-form); border-style:none;}
button.button-style {height:var(--btn-height); line-height:var(--btn-height); padding-left:var(--btn-padding); padding-right:var(--btn-padding); background-color:var(--btn-color); color:var(--font-btnColor); font-weight:700; white-space:nowrap;}
button.button-style.point {background-color:var(--color-point);}
button.button-style.point:hover {background-color:#a08dff;}
button.button-style.gray {background-color:var(--btn-gray);}
button.button-style.gray:hover {background-color:#a1a1a1;}
button.button-style.blue {background-color:var(--btn-blue);}
button.button-style.blue:hover {background-color:#88b0fa;}
button.button-style.red {background-color:#f2525d;}
button.button-style.red:hover {background-color:#f2525d;}
button.button-style.ghost {border:1px solid var(--color-point); background-color:var(--btn-ghost); color:var(--color-point);}
button.button-style.ghost:hover {background-color:#101011;}

button.button-style.gray:disabled {background-color:#4b4a4a;}
button.button-style.point:disabled {background-color:#433a74;}
button.button-style.blue:disabled {background-color:#3c4d6c;}
button.button-style.red:disabled {background-color:#852b31;}

button.list-style,
button.list-style.point,
button.list-style.ghost {border:1px solid var(--color-point); background-color:var(--btn-ghost); color:var(--color-point); cursor:pointer}
button.list-style.gray {border-color:var(--btn-gray); color:var(--btn-gray);}
button.list-style.blue {border-color:var(--btn-blue); color:var(--btn-blue);}
button.list-style.red {border-color:var(--color-red); color:#f2525d;}
button.list-style.gray:hover {background-color:#101011;}
button.list-style.blue:hover {background-color:#101011;}
button.list-style.red:hover {background-color:#101011;}

button.list-style.point:disabled {border-color:#433a74; color:#433a74;}
button.list-style.gray:disabled {background-color:#4b4a4a; color:#4b4a4a}
button.list-style.blue:disabled {border-color:#3c4d6c; color:#3c4d6c;}
button.list-style.red:disabled {border-color:#852b31; color:#852b31;}

/* Checkbox */
label.checkbox {display:inline-block; width:auto;}
label.checkbox input {display: none!important;}
label.checkbox span {display:inline-block; cursor:pointer}     
label.checkbox span:before {content:''; display:inline-block; margin-top:-2px; margin-right:5px; width:15px; height:15px; background: url("../images/bg_checkbox_off.png"); background-size:cover; vertical-align:middle;}
label.checkbox input:checked + span:before {background: url("../images/bg_checkbox_on.png"); background-size:100%;}
label.checkbox input:checked {-webkit-appearance:none; -moz-appearance:none;}

/* Radio */
label.radiobox {display:inline-block; width:auto; }
label.radiobox input {display:none!important;}
label.radiobox span {display:inline-block; cursor:pointer}     
label.radiobox span:before {content:''; display:inline-block; margin-top:-2px; margin-right:5px; width:15px; height:15px; background:url("../images/bg_radio_off.png"); background-size:cover; vertical-align:middle;}
label.radiobox input:checked + span:before {background: url("../images/bg_radio_on.png"); background-size:100%;}
label.radiobox input:checked {-webkit-appearance:none; -moz-appearance:none;}

/* Switch */
.custom-switch {position:relative; display:inline-block; width:32px; height:20px;}
.custom-switch input {opacity:0; width:0; height:0;}
.custom-switch .slider {position:absolute; cursor:pointer; top:0; left:0; right:0; bottom:0; background-color:#6a7276; -webkit-transition:.4s; transition:.4s;}
.custom-switch .slider:before {position:absolute; content:""; height:16px; width:16px; left:2px; bottom:2px; background-color:white; -webkit-transition:.4s; transition:.4s;}
.custom-switch input:checked + .slider {background-color:#0db456;}
.custom-switch input:focus + .slider {box-shadow:0 0 1px #0db456;}
.custom-switch input:checked + .slider:before {-webkit-transform:translateX(12px); -ms-transform:translateX(12px); transform: translateX(12px);}
.custom-switch .slider{border-radius:10px;}
.custom-switch .slider:before {border-radius:50%;}

/* Loading Box */
#__Loading_Box {z-index:80000; position:fixed; top:0; left:0; width:100%; height:100%;}
#__Loading_Box > div.inner-box {position:relative; display:table; width:100%; height:100%; background-color:rgba(0, 0, 0, 0.7);}
#__Loading_Box > div.inner-box > div.message-box {display:table-cell; vertical-align:middle; text-align:center; font-size:12px; color:#fff;}
#__Loading_Box > div.inner-box > div.message-box div.icon-box {height:60px;}
#__Loading_Box > div.inner-box > div.message-box span.icon {display: inline-block; width: 15px; height: 15px; background-color: #fcdc29; border-radius: 50%; animation: loading 1s infinite;  transform-origin: bottom center;  position: relative;}
#__Loading_Box > div.inner-box > div.message-box span.icon1 {animation-delay: 0.1s;}
#__Loading_Box > div.inner-box > div.message-box span.icon2 {animation-delay: 0.2s;}
#__Loading_Box > div.inner-box > div.message-box span.icon3 {animation-delay: 0.3s;}
#__Loading_Box > div.inner-box > div.message-box span.icon4 {animation-delay: 0.4s;}
#__Loading_Box > div.inner-box > div.message-box span.icon5 {animation-delay: 0.5s;}
#__Loading_Box > div.inner-box > div.message-box p.message {font-size:12px;}

@keyframes loading {
  0%{
    transform: translateY(0px);
    background-color: #fcdc29;
  }
  50%{
    transform: translateY(30px);
    background-color: #ef584a;
  }
  100%{
    transform: translateY(0px);
    background-color: #fcdc29;
  }
}

/* Layer Popup Style */
#LayerPopupBox > div.layer-popup-box {position:absolute; top:0; left:0; width:100%; height:100%;}
#LayerPopupBox > div.layer-popup-box div.disabled-box {position:fixed; top:0; left:0; width:100%; height:100%; background-color:rgba(255, 255, 255, 0.5); backdrop-filter:blur(6px);}
#LayerPopupBox > div.layer-popup-box div.layer-popup {position:absolute; top:0; left:0; padding:2rem 1.5rem; background-color:var(--bg-container);}
#LayerPopupBox > div.layer-popup-box div.layer-popup {box-shadow:3px 3px 7px 0 rgba(0,0,0,0.35); -webkit-box-shadow:3px 3px 7px 0 rgba(0,0,0,0.35); -moz-box-shadow:3px 3px 7px 0 rgba(0,0,0,0.35)}
#LayerPopupBox > div.layer-popup-box div.layer-popup {overflow:hidden; border-radius:var(--round-big); -moz-border-radius:var(--round-big); -webkit-border-radius:var(--round-big);}
#LayerPopupBox > div.layer-popup-box div.title-bar {position:relative; height:4.6rem; background-color:transparent; box-sizing:border-box;}
#LayerPopupBox > div.layer-popup-box div.title-bar * {box-sizing:border-box;}
#LayerPopupBox > div.layer-popup-box div.title-bar h3 {height:4rem; line-height:4rem; font-size:var(--font-title); font-weight:bold; color:var(--font-titColor);}
#LayerPopupBox > div.layer-popup-box div.title-bar h3 > em {display:inline-block; margin-left:5px; font-size:var(--font-size); font-weight:bold; color:var(--font-titColor);}
#LayerPopupBox > div.layer-popup-box div.title-bar p.btn-close {position:absolute; top:0.1rem; right:0; width:3.5rem; height:3.5rem; background:url('../images/icon/ic_popup_close.png') no-repeat 0 0; background-size:3.5rem 3.5rem;}
#LayerPopupBox > div.layer-popup-box div.title-bar p.btn-close:hover {cursor:pointer;}
#LayerPopupBox > div.layer-popup-box div.contents {overflow-x:hidden; overflow-y:auto; position:relative; width:100%; height:calc(100% - 50px);}
#LayerPopupBox > div.layer-popup-box div.contents {padding:0; box-sizing:border-box;}
#LayerPopupBox > div.layer-popup-box div.contents div.page-loading {height:60px; line-height:60px; text-align:center; font-size:var(--font-size);}
#LayerPopupBox > div.layer-popup-box div.contents div.page-loading img {vertical-align:middle;}
#LayerPopupBox > div.layer-popup-box div.contents div.pop-sub-title {position:relative; width:100%; height:52px; box-sizing:border-box;}
#LayerPopupBox > div.layer-popup-box div.contents div.pop-sub-title.noline {border-bottom-style:none;}
#LayerPopupBox > div.layer-popup-box div.contents div.pop-sub-title * {box-sizing:border-box;}
#LayerPopupBox > div.layer-popup-box div.contents div.pop-sub-title > h5 {height:50px; line-height:50px; font-size:var(--font-subTit); font-weight:bold; color:#231f20;}
#LayerPopupBox > div.layer-popup-box div.contents div.pop-sub-title > div.button {position:absolute; top:0; right:0; height:40px; text-align:right;}
#LayerPopupBox > div.layer-popup-box div.contents div.pop-sub-title > div.button > * {margin-left:10px;}
#LayerPopupBox > div.layer-popup-box div.contents div.pop-button {box-sizing:border-box; width:100%; height:40px; margin:0; padding:10px 0 0 0; text-align:center;}
#LayerPopupBox > div.layer-popup-box div.contents div.pop-button:after {content: ""; display:block; clear:both; visibility:hidden; font-size:0; height:0;}
#LayerPopupBox > div.layer-popup-box div.contents div.pop-button p {width:calc(100% / 2); height:40px;}
#LayerPopupBox > div.layer-popup-box div.contents div.pop-button p.left {float:left; text-align:left;}
#LayerPopupBox > div.layer-popup-box div.contents div.pop-button p.right {float:right; text-align:right;}
#LayerPopupBox > div.layer-popup-box div.contents div.pop-button button {margin-left:10px;}
#LayerPopupBox > div.layer-popup-box div.contents div.pop-button button:first-child {margin-left:0;}

/* Vue 깜빡임 방지용 */
[v-cloak] { display: none; }

/* Table Style */
div.ui-jqgrid .ui-jqgrid-htable th {height:3.2rem}
div.ui-jqgrid tr.ui-row-ltr td { padding:5px 5px}
table.table {table-layout:fixed; width:100%; border-collapse:collapse; border-top:1px solid var(--tbl-thBorder); }
table.table tr:hover {background:var(--bg-body)}
table.table th, table.table td {height:var(--height-td); border-bottom:1px solid var(--tbl-tdBorder);}
table.table th {background-color:var(--tbl-thBg); text-align:center; color:var(--font-titColor)}
table.table td {background-color:transparent; padding-left:var(--frmItem-padding); padding-right:var(--frmItem-padding); text-align:center; }

/* 달력 */
div#CalendarBoxDisabled {background-color:rgba(255, 255, 255, 0.45); backdrop-filter:blur(4px);}
div#CalendarBox {background:var(--bg-container); border-radius:var(--round-big); padding:1rem 0}
div#CalendarBox div.ListBox {border-top:0}
div#CalendarBox div.ListBox table {border-top:1px solid var(--tbl-thBorder)}
div#CalendarBox div.ListBox table tr th {color:#fff; background-color:var(--tbl-thBg)}
div#CalendarBox div.ListBox table tr td {color:var(--font-color); font-size:13px}
div#CalendarBox div.Header form, div#CalendarBox div.Header form select {color:var(--font-color)}
div#CalendarBox div.Header p {padding-top:0; color:#fff; font-size:var(--font-medium)}
div#CalendarBox div.ListBox .Today {background-color:var(--color-point); border-radius:var(--round-frmItem); color:#fff}
div#CalendarBox div.ListBox .Focus {color:var(--font-btnColor); border-radius:var(--round-frmItem)}
div#CalendarBox div.ListBox .Sat {color:#3586ff}
div#CalendarBox div.ListBox .Sun {color:#fe5329}

/* alert 창 */
div.sweet-overlay {background-color:rgba(255, 255, 255, 0.4); backdrop-filter:blur(4px);}
div.sweet-alert {padding:3rem 1.5rem;background:var(--bg-container); border-radius:var(--round-medium); }
div.sweet-alert p {color:#fff; font-size:var(--font-etc)}
div.sweet-alert button {padding:0.8rem 3rem; margin-bottom:1rem; color:var(--font-btnColor); font-size:var(--font-size); }
div.sweet-alert .sa-icon {margin:1rem auto}
div.sweet-alert .sa-icon.sa-success .sa-fix, div.sweet-alert .sa-icon.sa-success::before, .sweet-alert .sa-icon.sa-success::after {background:none}