/* @charset "utf-8"; */

/** 전체공통 **/
:root {
	--section-margin:1rem; --label-gap:3rem; --box-color:#1b1c1e; --box-round:0.4rem; --height:3.5rem; --height-td:3.2rem; --height-frmItem:2.4rem; --frmItem-padding:0.6rem;
	--state-size:1rem; --state-big:1.6rem; --padding-contain:1.5rem; --padding-small:1rem; --round-medium:1rem; --round-big:1.6rem; --round-frmItem:0.2rem;
	--bg-body:#131314; --bg-container:#212224; --bg-article:#313335; --bg-scroll:#1f1f21; --bg-scrollThumb:#666; --bg-popTab:#1f1f21; --border-color:#444;	
	--tbl-thBg:#18181a; --tbl-thBorder:#666; --tbl-tdBorder:#333; 
	--btn-width:6rem; --btn-height:2.4rem; --btn-padding:1.5rem; --btn-round:0.4rem; --btn-color:#d5d1ea; --btn-gray:#999; --btn-blue:#81a8ef; --btn-ghost:#212224;

	--color-point:#9885f9; --color-red:#f7424e; --error:#909090; --ok:#32b743; --stop:#909090; --suspend:#2392d9; --warning:#ff7c08;
	--font-title:1.8rem; --font-subTit:1.7rem; --font-medium:1.6rem; --font-size:1.3rem; --font-form:1.2rem; --font-small:1.1rem; --font-etc:1.4rem;
	--font-titColor:#fff; --font-subColor:#eee; --font-color:#ccc; --font-smallColor:#c6c6c6; --font-blurColor:#676767; --font-tabColor:#666; --font-btnColor:#000;
}

html {font-size:62.5%;}
html, body {width:100%; height:100%; }
body {background:var(--bg-body); }
#wrap {position:relative; overflow-x:auto; width:100%; min-width:1800px; height:100%;}
.row {display:flex; align-items:center; gap:3rem; width:100%; margin-bottom:var(--padding-small) }
.row > * {display:flex; align-items:center;}
.row label {white-space:nowrap;}
.row label input, .row label select {margin-left:6px}
.row:last-child {margin-bottom:0}
.align_right {justify-content:flex-end;}
.align_side {justify-content:space-between}
.align_center {justify-content:center;}
.w25 {width:25% !important;}
.w50 {width:50% !important;}
.w80 {width:80% !important;}
.w100 {width:100% !important;}

.title {margin-bottom:1rem; font-size:var(--font-title); color:var(--font-titColor); font-weight:700;}
.title .location {display:inline-block; margin-left:var(--padding-small); font-size:var(--font-small); color:var(--font-blurColor);}
.title_small {margin-bottom:var(--padding-small); font-size:var(--font-subTit); color:var(--font-subColor); font-weight:700;}
.caution {display: inline-block; margin-right: 0.4rem; color:var(--color-red)}

.aside_tab {display:flex; height:2.5rem; line-height:2rem; border-bottom:1px solid var(--border-color); font-size:var(--font-medium); font-weight:700;}
.aside_tab li {flex:1; color:var(--font-tabColor); font-weight:700; border-bottom:2px solid transparent; text-align:center; cursor:pointer;}
.aside_tab li a {display:block; width:100%; color:var(--font-tabColor)}
.aside_tab li.active, .aside_tab li.active a {color:var(--color-point); border-color:var(--color-point);}
.tab_box {display:none; height:calc(100% - 2.5rem);}
.tab_box .list_wrap {height:calc(100% - 6rem); overflow-y:auto;}
.tab_box.active {display:block}

.tab {position:relative; z-index:2;  font-size:var(--font-medium); font-weight:700;}
.tab li {display:inline-block; width:17.7rem; height:2.7rem; margin-right:0.3rem; line-height:2.7rem; text-align:center; border:1px solid var(--tbl-tdBorder); border-bottom:0; color:var(--font-tabColor); cursor:pointer}
.tab li.active {background:var(--bg-container); border: 1px solid var(--border-color); border-bottom:0; color:var(--color-point)}
.tab li.active a {display:block; width:100%; color:var(--color-point)}
.tab_panel {display:none; position:relative; z-index:1; top:-1px; height:calc(100% - 26px); padding:var(--padding-small); background:var(--bg-container); border:1px solid var(--border-color);}
.tab_panel.active {display:block; }

.btn_group {display:flex; align-items:center;}
.search button {display:inline-block}
/*.btn_group button, .search button {margin-right:var(--padding-small)}*/
.btn_group button:last-child, .search button:last-child {margin-right:0}
.jqgrid_wrap, div#grid-box {position:relative; height:calc(100% - 3.5rem); overflow:auto;}
.row select, .row input, .row textarea {width:100%}

#container {width:calc(100% - (var(--padding-contain) * 2)); height:calc(100% - var(--height) - (var(--padding-contain) * 2)); margin:var(--padding-contain); }
#content {height: calc(100% - 3rem);}
.page-panel, aside {padding:var(--padding-small)}
.page-panel {width:100%; height:100%; background:var(--bg-container); border:1px solid var(--border-color) }
div.layout-container {position:relative; height:100%; }


/** 팝업 컨텐츠 공통 **/
.popup-contents {background:var(--bg-container)}
.popup-contents .row {gap:0; align-items:stretch; margin-bottom:0; border-bottom: 1px solid var(--tbl-tdBorder);}
.popup-contents .row:nth-of-type(1) {border-top:1px solid var(--tbl-thBorder)}
.popup-contents hr + .row {border-top:1px solid var(--tbl-tdBorder)}
.popup-contents label, .popup-contents .label {flex:0 0 10.6rem; padding:0.8rem var(--padding-small); background:var(--tbl-thBg); white-space:normal;}
.popup-contents label.checkbox, .popup-contents label.radiobox { flex-basis:auto; margin-left:0; margin-right:0; padding:0.5rem var(--padding-small); background:none !important}
.popup-contents label + *, .popup-contents .label + * {margin-left:var(--padding-small); margin-right:var(--padding-small)}
.popup-contents .row button {margin-right:var(--padding-small)}
.popup-contents label + * {margin-top:0.3rem; margin-bottom:0.3rem}
.popup-contents .btn_group {margin-top:var(--padding-small)}
.popup-contents article {margin-top:0.8rem; padding:0.6rem; border:1px solid var(--tbl-thBorder)}
.popup-contents article .row:nth-of-type(1) {border-top:1px solid var(--tbl-tdBorder)}
.popup-contents .jqgrid_wrap, .popup-contents div#grid-box {height:40vh; overflow:auto;}
.popup-contents .aside_tab li.active, .popup-contents .tab_panel {background:var(--bg-popTab);}
.popup-contents .txt {width:10.6rem; padding:0.8rem var(--padding-small); white-space:nowrap;}
.popup-contents p {width:100%; margin-right:var(--padding-small); margin-left:var(--padding-small);}
.popup-contents .btns {display:flex; align-items:center; justify-content: space-between; margin:0.5rem var(--padding-small) var(--padding-small) var(--padding-small);}
.popup-contents .btns button + button {margin-left:var(--padding-small)}
hr {margin:var(--padding-small) 0; border-color:var(--tbl-thBorder)}


/* 항목 구분 */
div.section {box-sizing:border-box; /* margin-top:10px; border-top:2px solid #999; */}
div.section > div.title {box-sizing:border-box; position:relative; width:100%; height:60px; padding:0 15px;}
div.section > div.title * {box-sizing:border-box;}
div.section > div.title > h3 {height:60px; line-height:60px; font-size:17px; color:#111;}
div.section > div.title > div.button {position:absolute; top:15px; right:0; height:30px; text-align:right;}
div.section > div.title > div.button > * {margin-left:10px;}
div.section > div.title > div.button > *:first-child {margin-left:0;}

/* Tab Style */
div.sub-tab-style {padding-top:15px;}
ul.sub-tab {box-sizing:border-box; width:100%;}
ul.sub-tab * {box-sizing:border-box;}
ul.sub-tab:after {display:block; content:''; float:none; clear:both;}
ul.sub-tab li {float:left; height:45px; line-height:45px; border:1px solid #ddd; border-bottom:1px solid #0059b2; border-left-style:none; background-color:#fff; text-align:center; font-size:14px; cursor:pointer;}
ul.sub-tab li:first-child {border-left-style:solid;}
ul.sub-tab.group2 li {width:calc(100% / 2);}
ul.sub-tab.group3 li {width:calc(100% / 3);}
ul.sub-tab.group4 li {width:calc(100% / 4);}
ul.sub-tab.group5 li {width:calc(100% / 5);}
ul.sub-tab.group6 li {width:calc(100% / 6);}
ul.sub-tab.group7 li {width:calc(100% / 7);}
ul.sub-tab li.on {border-color:#0059b2; border-bottom-color:#fff; border-left-style:solid; cursor:default;}

div.group-box {width:100%;}
div.group-box > div.inner {border:1px solid #d9d9d9; box-sizing:border-box;}
div.group-box > div.inner.twin {width:calc((100% - 10px) / 2);}
div.group-box > div.inner.triple {width:calc((100% - 10px) / 3);}
div.group-box > div.inner.left {float:left;}
div.group-box > div.inner.right {float:right;}
div.group-box > div.inner > div.info {height:50px; line-height:50px; padding:0 10px;}
div.group-box > div.inner > div.info.yellow {background-color:#fcf8e3;}
div.group-box > div.inner > div.info.blue {background-color:#d9edf7;}
div.group-box > div.inner div.sorted-list {overflow:auto; width:100%; height:100%; padding:10px; box-sizing:border-box;}
div.group-box > div.inner div.sorted-list * {box-sizing:border-box;}
div.group-box > div.inner div.sorted-list > dl.item {position:relative; width:100%; height:32px; border:1px solid #ccc; margin-top:7px;}
div.group-box > div.inner div.sorted-list > dl.item:first-child {margin-top:0;}
div.group-box > div.inner div.sorted-list > dl.item dt {float:left; width:calc(100% - 32px - 61px); margin-left:32px; line-height:32px; padding:0 10px;}
div.group-box > div.inner div.sorted-list > dl.item dd.move {position:absolute; top:0; left:0; width:32px; height:30px; background-color:#f0f0f0; cursor:move;}
div.group-box > div.inner div.sorted-list > dl.item dd.move {background-image:url('../images/icon_menu.png'); background-repeat:no-repeat; background-position:50% 50%; background-size:16px;}
div.group-box > div.inner div.sorted-list > dl.item dd.button {float:right; width:60px; border-left:1px solid #ccc; margin-right:1px;}
div.group-box > div.inner div.sorted-list > dl.item dd.button button {width:60px; padding:0; border-style:none;}
div.group-box > div.inner div.sorted-list > dl.item:after {content:''; display:block; float:none; clear:both;}
div.group-box:after {content:''; display:block; float:none; clear:both;}

/* 부제목 */
div.sub-title {width:100%; height:50px; background-color:transparent; box-sizing:border-box;}
div.sub-title * {box-sizing:border-box;}
div.sub-title > h4 {float:left; height:50px; line-height:50px; font-size:13px; font-weight:bold; color:#fff;}
div.sub-title > h4 > em {font-size:12px; font-weight:normal;}
div.sub-title > div.button {float:right; height:50px; line-height:50px;}
div.sub-title > div.button > * {margin-left:10px; vertical-align:middle;}
div.sub-title > div.button > *:first-child {margin-left:0;}
div.sub-title:after {content:''; display:block; float:none; clear:both;}

div.grid-box {width:100%;}
div.toolbar-grid-box {width:100%; height:calc(100% - 35px);}

/* Search */
table.search {width:100%; margin-bottom:1rem; border-style:none; border-collapse:collapse; table-layout:fixed;}
table.search caption {position:relative; width:100%; height:42px; border-bottom:2px solid #231f20; box-sizing:border-box;}
table.search caption > div.button {position:absolute; top:5px; right:0; height:30px; text-align:right;}
table.search caption > div.button button {margin-left:10px;}
table.search * {box-sizing:border-box;}
/* table.search th, table.search td {height:50px; vertical-align:middle;} */
table.search th { font-weight:normal; padding-right:16px; /*font-size:14px; color:#231f20; */ text-align:right;}
table.search td {/*font-size:14px; color:#231f20;*/}
table.search td.p10 {padding-left:10px;}
table.search td input[type=text],
table.search td input[type=number],
table.search td input[type=tel],
table.search td input[type=email],
table.search td select {width:calc(100% - 5px);}
table.search td label.checkbox, table.search label.radio {margin-left:15px;}
table.search td label.checkbox:first-child, table.search label.radio:first-child {margin-left:0;}
table.search td .w100 {width:100%;}
table.search td.right {text-align:right;}
table.search td.twin {text-align:center;}
table.search td.twin > * {float:left; width:calc((100% - 10px) / 2) !important;}
table.search td.twin > *:last-child {float:right;}
table.search td.twin:after {content:''; display:block; float:none; clear:both;}
table.search td.group2 > * {display:block; float:left; margin-right:10px;}
/*table.search td.group2 > span {height:40px; line-height:40px;}*/
/*table.search td.group2 > *:first-child {margin-left:0;}*/
table.search td.group2 > *:last-child {margin-right:0;}
table.search td.group2 > .w0 {width:calc((100% - 10px) / 2);}
table.search td.group2 > .w5 {width:calc( ((100% - 10px) / 10) * 0.5 );}
table.search td.group2 > .w10 {width:calc( ((100% - 10px) / 10) * 1 );}
table.search td.group2 > .w15 {width:calc( ((100% - 10px) / 10) * 1.5 );}
table.search td.group2 > .w20 {width:calc( ((100% - 10px) / 10) * 2 );}
table.search td.group2 > .w25 {width:calc( ((100% - 10px) / 10) * 2.5 );}
table.search td.group2 > .w30 {width:calc( ((100% - 10px) / 10) * 3 );}
table.search td.group2 > .w35 {width:calc( ((100% - 10px) / 10) * 3.5 );}
table.search td.group2 > .w40 {width:calc( ((100% - 10px) / 10) * 4 );}
table.search td.group2 > .w45 {width:calc( ((100% - 10px) / 10) * 4.5 );}
table.search td.group2 > .w50 {width:calc( ((100% - 10px) / 10) * 5 );}
table.search td.group2 > .w55 {width:calc( ((100% - 10px) / 10) * 5.5 );}
table.search td.group2 > .w60 {width:calc( ((100% - 10px) / 10) * 6 );}
table.search td.group2 > .w65 {width:calc( ((100% - 10px) / 10) * 6.5 );}
table.search td.group2 > .w70 {width:calc( ((100% - 10px) / 10) * 7 );}
table.search td.group2 > .w75 {width:calc( ((100% - 10px) / 10) * 7.5 );}
table.search td.group2 > .w80 {width:calc( ((100% - 10px) / 10) * 8 );}
table.search td.group2 > .w85 {width:calc( ((100% - 10px) / 10) * 8.5 );}
table.search td.group3 > * {display:block; float:left; margin-right:10px;}
/*table.search td.group3 > span {height:40px; line-height:40px;}*/
/*table.search td.group3 > *:first-child {margin-left:0;}*/
table.search td.group3 > *:last-child {margin-right:0;}
table.search td.group3 > .w0 {width:calc((100% - 20px) / 3);}
table.search td.group3 > .w5 {width:calc( ((100% - 20px) / 10) * 0.5 );}
table.search td.group3 > .w10 {width:calc( ((100% - 20px) / 10) * 1 );}
table.search td.group3 > .w15 {width:calc( ((100% - 20px) / 10) * 1.5 );}
table.search td.group3 > .w20 {width:calc( ((100% - 20px) / 10) * 2 );}
table.search td.group3 > .w25 {width:calc( ((100% - 20px) / 10) * 2.5 );}
table.search td.group3 > .w30 {width:calc( ((100% - 20px) / 10) * 3 );}
table.search td.group3 > .w35 {width:calc( ((100% - 20px) / 10) * 3.5 );}
table.search td.group3 > .w40 {width:calc( ((100% - 20px) / 10) * 4 );}
table.search td.group3 > .w45 {width:calc( ((100% - 20px) / 10) * 4.5 );}
table.search td.group3 > .w50 {width:calc( ((100% - 20px) / 10) * 5 );}
table.search td.group3 > .w55 {width:calc( ((100% - 20px) / 10) * 5.5 );}
table.search td.group3 > .w60 {width:calc( ((100% - 20px) / 10) * 6 );}
table.search td.group3 > .w65 {width:calc( ((100% - 20px) / 10) * 6.5 );}
table.search td.group3 > .w70 {width:calc( ((100% - 20px) / 10) * 7 );}
table.search td.group3 > .w75 {width:calc( ((100% - 20px) / 10) * 7.5 );}
table.search td.group3 > .w80 {width:calc( ((100% - 20px) / 10) * 8 );}
table.search td.group3 > .w85 {width:calc( ((100% - 20px) / 10) * 8.5 );}
table.search td.group4 > * {display:block; float:left; margin-right:10px;}
/*table.search td.group4 > span {height:40px; line-height:40px;}*/
/*table.search td.group4 > *:first-child {margin-left:0;}*/
table.search td.group4 > *:last-child {margin-right:0;}
table.search td.group4 > .w0 {width:calc((100% - 30px) / 4);}
table.search td.group4 > .w5 {width:calc( ((100% - 30px) / 10) * 0.5 );}
table.search td.group4 > .w10 {width:calc( ((100% - 30px) / 10) * 1 );}
table.search td.group4 > .w15 {width:calc( ((100% - 30px) / 10) * 1.5 );}
table.search td.group4 > .w20 {width:calc( ((100% - 30px) / 10) * 2 );}
table.search td.group4 > .w25 {width:calc( ((100% - 30px) / 10) * 2.5 );}
table.search td.group4 > .w30 {width:calc( ((100% - 30px) / 10) * 3 );}
table.search td.group4 > .w35 {width:calc( ((100% - 30px) / 10) * 3.5 );}
table.search td.group4 > .w40 {width:calc( ((100% - 30px) / 10) * 4 );}
table.search td.group4 > .w45 {width:calc( ((100% - 30px) / 10) * 4.5 );}
table.search td.group4 > .w50 {width:calc( ((100% - 30px) / 10) * 5 );}
table.search td.group4 > .w55 {width:calc( ((100% - 30px) / 10) * 5.5 );}
table.search td.group4 > .w60 {width:calc( ((100% - 30px) / 10) * 6 );}
table.search td.group4 > .w65 {width:calc( ((100% - 30px) / 10) * 6.5 );}
table.search td.group4 > .w70 {width:calc( ((100% - 30px) / 10) * 7 );}
table.search td.group4 > .w75 {width:calc( ((100% - 30px) / 10) * 7.5 );}
table.search td.group4 > .w80 {width:calc( ((100% - 30px) / 10) * 8 );}
table.search td.group4 > .w85 {width:calc( ((100% - 30px) / 10) * 8.5 );}
table.search td.group5 > * {display:block; float:left; margin-right:10px;}
/*table.search td.group5 > span {height:40px; line-height:40px;}*/
/*table.search td.group5 > *:first-child {margin-left:0;}*/
table.search td.group5 > *:last-child {margin-right:0;}
table.search td.group5 > .w0 {width:calc((100% - 40px) / 5);}
table.search td.group5 > .w5 {width:calc( ((100% - 40px) / 10) * 0.5 );}
table.search td.group5 > .w10 {width:calc( ((100% - 40px) / 10) * 1 );}
table.search td.group5 > .w15 {width:calc( ((100% - 40px) / 10) * 1.5 );}
table.search td.group5 > .w20 {width:calc( ((100% - 40px) / 10) * 2 );}
table.search td.group5 > .w25 {width:calc( ((100% - 40px) / 10) * 2.5 );}
table.search td.group5 > .w30 {width:calc( ((100% - 40px) / 10) * 3 );}
table.search td.group5 > .w35 {width:calc( ((100% - 40px) / 10) * 3.5 );}
table.search td.group5 > .w40 {width:calc( ((100% - 40px) / 10) * 4 );}
table.search td.group5 > .w45 {width:calc( ((100% - 40px) / 10) * 4.5 );}
table.search td.group5 > .w50 {width:calc( ((100% - 40px) / 10) * 5 );}
table.search td.group5 > .w55 {width:calc( ((100% - 40px) / 10) * 5.5 );}
table.search td.group5 > .w60 {width:calc( ((100% - 40px) / 10) * 6 );}
table.search td.group5 > .w65 {width:calc( ((100% - 40px) / 10) * 6.5 );}
table.search td.group5 > .w70 {width:calc( ((100% - 40px) / 10) * 7 );}
table.search td.group5 > .w75 {width:calc( ((100% - 40px) / 10) * 7.5 );}
table.search td.group5 > .w80 {width:calc( ((100% - 40px) / 10) * 8 );}
table.search td.group5 > .w85 {width:calc( ((100% - 40px) / 10) * 8.5 );}
table.search td.button {padding-right:5px; text-align:right;}
table.search td.button button {margin-left:10px;}
table.search td.button button:first-child {margin-left:0;}
table.search td button.full {width:100%; margin-left:0; padding-left:0; padding-right:0; text-align:center;}
div.pop-search {padding-top:5px; padding-bottom:5px; border-top:2px solid #231f20;}

/* Toolbar */
div.toolbar {width:100%; height:50px; line-height:50px; text-align:right;}
div.toolbar > div {height:50px; line-height:50px;}
div.toolbar > div.left {float:left; font-size:12px;}
div.toolbar > div.left strong {color:#0066b3;}
div.toolbar > div.right {float:right; text-align:right;}
div.toolbar:after {content:''; display:block; float:none; clear:both;}
div.toolbar button {margin-left:10px; vertical-align:middle;}
div.toolbar select,
div.toolbar input {vertical-align:middle;}
div.toolbar button:first-child {margin-left:0;}

/* 입력스타일 */
table.input-style {width:100%; border-style:none; border-top:1px solid #666; border-collapse:collapse; table-layout:fixed; box-sizing:border-box;}
table.input-style * {box-sizing:border-box;}
table.input-style.noTopBar {border-top-style:none;}
table.input-style caption {font-size:14px; font-weight:bold;}
table.input-style caption > span {display:block; height:40px; line-height:40px; font-size:var(--font-etc); color:#ddd }
table.input-style caption > p.memo {line-height:1.5em; margin-bottom:5px; padding:5px 10px; background-color:#cfd8dc; font-size:12px; font-weight:normal;}
table.input-style thead tr th {padding-left:0; text-align:center;}
table.input-style tr th,
table.input-style tr td {height:44px; border-bottom:1px solid #333; vertical-align:middle;}
table.input-style tr.auto th,
table.input-style tr.auto td {height:auto; padding-top:7px; padding-bottom:7px;}
table.input-style tr th {padding-left:15px; background-color:#18181a; font-size:12px; font-weight:normal; color:#fff; text-align:left;}
table.input-style tr th button {display:block; height:30px; line-height:30px; margin-top:5px; font-size:12px;}
table.input-style tr td {padding-left:10px; padding-right:10px; background-color:#252628; font-size:12px; text-align:left;}
table.input-style tr td.p10 {padding-left:10px;}
table.input-style tr td > input[type=text],
table.input-style tr td > input[type=number],
table.input-style tr td > input[type=tel],
table.input-style tr td > input[type=email],
table.input-style tr td > input[type=password],
table.input-style tr td > select,
table.input-style tr td > textarea {width:100%;}
table.input-style tr td label.checkbox, table.input-style tr td label.radio {margin-left:15px;}
table.input-style tr td label.checkbox:first-child, table.input-style tr td label.radio:first-child {margin-left:0;}
table.input-style tr td .w100 {width:100%;}
table.input-style tr td.center {text-align:center;}
table.input-style tr td.right {text-align:right;}
table.input-style tr td.twin > * {display:block; float:left; width:calc((100% - 10px) / 2) !important;}
table.input-style tr td.twin > *:last-child {float:right;}
table.input-style tr td.twin:after {content:''; display:block; float:none; clear:both;}
table.input-style tr td.group2 > * {display:block; float:left; margin-right:10px;}
/*table.input-style tr td.group2 > span {height:40px; line-height:40px;}*/
/*table.input-style tr td.group2 > *:first-child {margin-left:0;}*/
table.input-style tr td.group2 > *:last-child {margin-right:0;}
table.input-style tr td.group2 > .w0 {width:calc((100% - 10px) / 2);}
table.input-style tr td.group2 > .w5 {width:calc( ((100% - 10px) / 10) * 0.5 );}
table.input-style tr td.group2 > .w10 {width:calc( ((100% - 10px) / 10) * 1 );}
table.input-style tr td.group2 > .w15 {width:calc( ((100% - 10px) / 10) * 1.5 );}
table.input-style tr td.group2 > .w20 {width:calc( ((100% - 10px) / 10) * 2 );}
table.input-style tr td.group2 > .w25 {width:calc( ((100% - 10px) / 10) * 2.5 );}
table.input-style tr td.group2 > .w30 {width:calc( ((100% - 10px) / 10) * 3 );}
table.input-style tr td.group2 > .w35 {width:calc( ((100% - 10px) / 10) * 3.5 );}
table.input-style tr td.group2 > .w40 {width:calc( ((100% - 10px) / 10) * 4 );}
table.input-style tr td.group2 > .w45 {width:calc( ((100% - 10px) / 10) * 4.5 );}
table.input-style tr td.group2 > .w50 {width:calc( ((100% - 10px) / 10) * 5 );}
table.input-style tr td.group2 > .w55 {width:calc( ((100% - 10px) / 10) * 5.5 );}
table.input-style tr td.group2 > .w60 {width:calc( ((100% - 10px) / 10) * 6 );}
table.input-style tr td.group2 > .w65 {width:calc( ((100% - 10px) / 10) * 6.5 );}
table.input-style tr td.group2 > .w70 {width:calc( ((100% - 10px) / 10) * 7 );}
table.input-style tr td.group2 > .w75 {width:calc( ((100% - 10px) / 10) * 7.5 );}
table.input-style tr td.group2 > .w80 {width:calc( ((100% - 10px) / 10) * 8 );}
table.input-style tr td.group2 > .w85 {width:calc( ((100% - 10px) / 10) * 8.5 );}
table.input-style tr td.group3 > * {display:block; float:left; margin-right:10px;}
/*table.input-style tr td.group3 > span {height:28px; line-height:28px; text-align:center;}*/
/*table.input-style tr td.group3 > *:first-child {margin-left:0;}*/
table.input-style tr td.group3 > *:last-child {margin-right:0;}
table.input-style tr td.group3 > .w0 {width:calc((100% - 20px) / 3);}
table.input-style tr td.group3 > .w5 {width:calc( ((100% - 20px) / 10) * 0.5 );}
table.input-style tr td.group3 > .w10 {width:calc( ((100% - 20px) / 10) * 1 );}
table.input-style tr td.group3 > .w15 {width:calc( ((100% - 20px) / 10) * 1.5 );}
table.input-style tr td.group3 > .w20 {width:calc( ((100% - 20px) / 10) * 2 );}
table.input-style tr td.group3 > .w25 {width:calc( ((100% - 20px) / 10) * 2.5 );}
table.input-style tr td.group3 > .w30 {width:calc( ((100% - 20px) / 10) * 3 );}
table.input-style tr td.group3 > .w35 {width:calc( ((100% - 20px) / 10) * 3.5 );}
table.input-style tr td.group3 > .w40 {width:calc( ((100% - 20px) / 10) * 4 );}
table.input-style tr td.group3 > .w45 {width:calc( ((100% - 20px) / 10) * 4.5 );}
table.input-style tr td.group3 > .w50 {width:calc( ((100% - 20px) / 10) * 5 );}
table.input-style tr td.group3 > .w55 {width:calc( ((100% - 20px) / 10) * 5.5 );}
table.input-style tr td.group3 > .w60 {width:calc( ((100% - 20px) / 10) * 6 );}
table.input-style tr td.group3 > .w65 {width:calc( ((100% - 20px) / 10) * 6.5 );}
table.input-style tr td.group3 > .w70 {width:calc( ((100% - 20px) / 10) * 7 );}
table.input-style tr td.group3 > .w75 {width:calc( ((100% - 20px) / 10) * 7.5 );}
table.input-style tr td.group3 > .w80 {width:calc( ((100% - 20px) / 10) * 8 );}
table.input-style tr td.group3 > .w85 {width:calc( ((100% - 20px) / 10) * 8.5 );}
table.input-style tr td.group4 > * {display:block; float:left; margin-right:10px;}
/*table.input-style tr td.group4 > span {height:28px; line-height:28px; text-align:center;}*/
/*table.input-style tr td.group4 > *:first-child {margin-left:0;}*/
table.input-style tr td.group4 > *:last-child {margin-right:0;}
table.input-style tr td.group4 > .w0 {width:calc((100% - 30px) / 4);}
table.input-style tr td.group4 > .w5 {width:calc( ((100% - 30px) / 10) * 0.5 );}
table.input-style tr td.group4 > .w10 {width:calc( ((100% - 30px) / 10) * 1 );}
table.input-style tr td.group4 > .w15 {width:calc( ((100% - 30px) / 10) * 1.5 );}
table.input-style tr td.group4 > .w20 {width:calc( ((100% - 30px) / 10) * 2 );}
table.input-style tr td.group4 > .w25 {width:calc( ((100% - 30px) / 10) * 2.5 );}
table.input-style tr td.group4 > .w30 {width:calc( ((100% - 30px) / 10) * 3 );}
table.input-style tr td.group4 > .w35 {width:calc( ((100% - 30px) / 10) * 3.5 );}
table.input-style tr td.group4 > .w40 {width:calc( ((100% - 30px) / 10) * 4 );}
table.input-style tr td.group4 > .w45 {width:calc( ((100% - 30px) / 10) * 4.5 );}
table.input-style tr td.group4 > .w50 {width:calc( ((100% - 30px) / 10) * 5 );}
table.input-style tr td.group4 > .w55 {width:calc( ((100% - 30px) / 10) * 5.5 );}
table.input-style tr td.group4 > .w60 {width:calc( ((100% - 30px) / 10) * 6 );}
table.input-style tr td.group4 > .w65 {width:calc( ((100% - 30px) / 10) * 6.5 );}
table.input-style tr td.group4 > .w70 {width:calc( ((100% - 30px) / 10) * 7 );}
table.input-style tr td.group4 > .w75 {width:calc( ((100% - 30px) / 10) * 7.5 );}
table.input-style tr td.group4 > .w80 {width:calc( ((100% - 30px) / 10) * 8 );}
table.input-style tr td.group4 > .w85 {width:calc( ((100% - 30px) / 10) * 8.5 );}
table.input-style tr td.group5 > * {display:block; float:left; margin-right:10px;}
/*table.input-style tr td.group5 > span {height:28px; line-height:28px; text-align:center;}*/
/*table.input-style tr td.group5 > *:first-child {margin-left:0;}*/
table.input-style tr td.group5 > *:last-child {margin-right:0;}
table.input-style tr td.group5 > .w0 {width:calc((100% - 40px) / 5);}
table.input-style tr td.group5 > .w5 {width:calc( ((100% - 40px) / 10) * 0.5 );}
table.input-style tr td.group5 > .w10 {width:calc( ((100% - 40px) / 10) * 1 );}
table.input-style tr td.group5 > .w15 {width:calc( ((100% - 40px) / 10) * 1.5 );}
table.input-style tr td.group5 > .w20 {width:calc( ((100% - 40px) / 10) * 2 );}
table.input-style tr td.group5 > .w25 {width:calc( ((100% - 40px) / 10) * 2.5 );}
table.input-style tr td.group5 > .w30 {width:calc( ((100% - 40px) / 10) * 3 );}
table.input-style tr td.group5 > .w35 {width:calc( ((100% - 40px) / 10) * 3.5 );}
table.input-style tr td.group5 > .w40 {width:calc( ((100% - 40px) / 10) * 4 );}
table.input-style tr td.group5 > .w45 {width:calc( ((100% - 40px) / 10) * 4.5 );}
table.input-style tr td.group5 > .w50 {width:calc( ((100% - 40px) / 10) * 5 );}
table.input-style tr td.group5 > .w55 {width:calc( ((100% - 40px) / 10) * 5.5 );}
table.input-style tr td.group5 > .w60 {width:calc( ((100% - 40px) / 10) * 6 );}
table.input-style tr td.group5 > .w65 {width:calc( ((100% - 40px) / 10) * 6.5 );}
table.input-style tr td.group5 > .w70 {width:calc( ((100% - 40px) / 10) * 7 );}
table.input-style tr td.group5 > .w75 {width:calc( ((100% - 40px) / 10) * 7.5 );}
table.input-style tr td.group5 > .w80 {width:calc( ((100% - 40px) / 10) * 8 );}
table.input-style tr td.group5 > .w85 {width:calc( ((100% - 40px) / 10) * 8.5 );}
table.input-style tr td.button > button {margin-left:10px;}
table.input-style tr td.button > button:first-child {margin-left:0;}
table.input-style tr td > .wHalf {width:calc(100% / 2) !important;}

/* 목록형 스타일 */
table.list-style {width:100%; border-top:1px solid #ccc; border-collapse:collapse; table-layout:fixed; box-sizing:border-box;}
table.list-style * {box-sizing:border-box;}
table.list-style.noTopBar {border-top-style:none;}
table.list-style caption {font-size:12px; font-weight:bold;}
table.list-style caption > span {display:block; height:40px; line-height:40px; font-size:12px; font-weight:bold;}
table.list-style caption > p.memo {line-height:1.5em; margin-bottom:5px; padding:5px 10px; background-color:#cfd8dc; font-size:12px; font-weight:normal;}
table.list-style thead tr th {padding-left:0; text-align:center;}
table.list-style tr th,
table.list-style tr td {height:40px; border:1px solid #e2e2e2; vertical-align:middle;}
table.list-style tr.auto th,
table.list-style tr.auto td {height:auto; padding-top:7px; padding-bottom:7px;}
table.list-style tr:nth-child(2n) th,
table.list-style tr:nth-child(2n) td {background-color:#fafafa;}
table.list-style tr th {padding-left:15px; background-color:#f6f6f6; border-top-style:none; font-size:12px; font-weight:normal; color:#111; text-align:left;}
table.list-style tr th button {display:block; height:30px; line-height:30px; margin-top:5px; font-size:12px;}
table.list-style tr td {padding-left:10px; padding-right:10px; background-color:#fff; font-size:12px; text-align:left;}
table.list-style tr td.p10 {padding-left:10px;}
table.list-style tr td > input[type=text],
table.list-style tr td > input[type=number],
table.list-style tr td > input[type=tel],
table.list-style tr td > input[type=email],
table.list-style tr td > select,
table.list-style tr td > textarea {width:100%;}
table.list-style tr td label.checkbox, table.list-style tr td label.radio {margin-left:15px;}
table.list-style tr td label.checkbox:first-child, table.list-style tr td label.radio:first-child {margin-left:0;}
table.list-style tr td .w100 {width:100%;}
table.list-style tr td.center {text-align:center;}
table.list-style tr td.right {text-align:right;}
table.list-style tr td.twin > * {display:block; float:left; width:calc((100% - 10px) / 2) !important;}
table.list-style tr td.twin > *:last-child {float:right;}
table.list-style tr td.twin:after {content:''; display:block; float:none; clear:both;}
table.list-style tr td.group2 > * {display:block; float:left; margin-right:10px;}
/*table.list-style tr td.group2 > span {height:28px; line-height:28px; text-align:center;}*/
/*table.list-style tr td.group2 > *:first-child {margin-left:0;}*/
table.list-style tr td.group2 > *:last-child {margin-right:0;}
table.list-style tr td.group2 > .w0 {width:calc((100% - 10px) / 2);}
table.list-style tr td.group2 > .w5 {width:calc( ((100% - 10px) / 10) * 0.5 );}
table.list-style tr td.group2 > .w10 {width:calc( ((100% - 10px) / 10) * 1 );}
table.list-style tr td.group2 > .w15 {width:calc( ((100% - 10px) / 10) * 1.5 );}
table.list-style tr td.group2 > .w20 {width:calc( ((100% - 10px) / 10) * 2 );}
table.list-style tr td.group2 > .w25 {width:calc( ((100% - 10px) / 10) * 2.5 );}
table.list-style tr td.group2 > .w30 {width:calc( ((100% - 10px) / 10) * 3 );}
table.list-style tr td.group2 > .w35 {width:calc( ((100% - 10px) / 10) * 3.5 );}
table.list-style tr td.group2 > .w40 {width:calc( ((100% - 10px) / 10) * 4 );}
table.list-style tr td.group2 > .w45 {width:calc( ((100% - 10px) / 10) * 4.5 );}
table.list-style tr td.group2 > .w50 {width:calc( ((100% - 10px) / 10) * 5 );}
table.list-style tr td.group2 > .w55 {width:calc( ((100% - 10px) / 10) * 5.5 );}
table.list-style tr td.group2 > .w60 {width:calc( ((100% - 10px) / 10) * 6 );}
table.list-style tr td.group2 > .w65 {width:calc( ((100% - 10px) / 10) * 6.5 );}
table.list-style tr td.group2 > .w70 {width:calc( ((100% - 10px) / 10) * 7 );}
table.list-style tr td.group2 > .w75 {width:calc( ((100% - 10px) / 10) * 7.5 );}
table.list-style tr td.group2 > .w80 {width:calc( ((100% - 10px) / 10) * 8 );}
table.list-style tr td.group2 > .w85 {width:calc( ((100% - 10px) / 10) * 8.5 );}
table.list-style tr td.group3 > * {display:block; float:left; margin-right:10px;}
/*table.list-style tr td.group3 > span {height:28px; line-height:28px; text-align:center;}*/
/*table.list-style tr td.group3 > *:first-child {margin-left:0;}*/
table.list-style tr td.group3 > *:last-child {margin-right:0;}
table.list-style tr td.group3 > .w0 {width:calc((100% - 20px) / 3);}
table.list-style tr td.group3 > .w5 {width:calc( ((100% - 20px) / 10) * 0.5 );}
table.list-style tr td.group3 > .w10 {width:calc( ((100% - 20px) / 10) * 1 );}
table.list-style tr td.group3 > .w15 {width:calc( ((100% - 20px) / 10) * 1.5 );}
table.list-style tr td.group3 > .w20 {width:calc( ((100% - 20px) / 10) * 2 );}
table.list-style tr td.group3 > .w25 {width:calc( ((100% - 20px) / 10) * 2.5 );}
table.list-style tr td.group3 > .w30 {width:calc( ((100% - 20px) / 10) * 3 );}
table.list-style tr td.group3 > .w35 {width:calc( ((100% - 20px) / 10) * 3.5 );}
table.list-style tr td.group3 > .w40 {width:calc( ((100% - 20px) / 10) * 4 );}
table.list-style tr td.group3 > .w45 {width:calc( ((100% - 20px) / 10) * 4.5 );}
table.list-style tr td.group3 > .w50 {width:calc( ((100% - 20px) / 10) * 5 );}
table.list-style tr td.group3 > .w55 {width:calc( ((100% - 20px) / 10) * 5.5 );}
table.list-style tr td.group3 > .w60 {width:calc( ((100% - 20px) / 10) * 6 );}
table.list-style tr td.group3 > .w65 {width:calc( ((100% - 20px) / 10) * 6.5 );}
table.list-style tr td.group3 > .w70 {width:calc( ((100% - 20px) / 10) * 7 );}
table.list-style tr td.group3 > .w75 {width:calc( ((100% - 20px) / 10) * 7.5 );}
table.list-style tr td.group3 > .w80 {width:calc( ((100% - 20px) / 10) * 8 );}
table.list-style tr td.group3 > .w85 {width:calc( ((100% - 20px) / 10) * 8.5 );}
table.list-style tr td.group4 > * {display:block; float:left; margin-right:10px;}
/*table.list-style tr td.group4 > span {height:28px; line-height:28px; text-align:center;}*/
/*table.list-style tr td.group4 > *:first-child {margin-left:0;}*/
table.list-style tr td.group4 > *:last-child {margin-right:0;}
table.list-style tr td.group4 > .w0 {width:calc((100% - 30px) / 4);}
table.list-style tr td.group4 > .w5 {width:calc( ((100% - 30px) / 10) * 0.5 );}
table.list-style tr td.group4 > .w10 {width:calc( ((100% - 30px) / 10) * 1 );}
table.list-style tr td.group4 > .w15 {width:calc( ((100% - 30px) / 10) * 1.5 );}
table.list-style tr td.group4 > .w20 {width:calc( ((100% - 30px) / 10) * 2 );}
table.list-style tr td.group4 > .w25 {width:calc( ((100% - 30px) / 10) * 2.5 );}
table.list-style tr td.group4 > .w30 {width:calc( ((100% - 30px) / 10) * 3 );}
table.list-style tr td.group4 > .w35 {width:calc( ((100% - 30px) / 10) * 3.5 );}
table.list-style tr td.group4 > .w40 {width:calc( ((100% - 30px) / 10) * 4 );}
table.list-style tr td.group4 > .w45 {width:calc( ((100% - 30px) / 10) * 4.5 );}
table.list-style tr td.group4 > .w50 {width:calc( ((100% - 30px) / 10) * 5 );}
table.list-style tr td.group4 > .w55 {width:calc( ((100% - 30px) / 10) * 5.5 );}
table.list-style tr td.group4 > .w60 {width:calc( ((100% - 30px) / 10) * 6 );}
table.list-style tr td.group4 > .w65 {width:calc( ((100% - 30px) / 10) * 6.5 );}
table.list-style tr td.group4 > .w70 {width:calc( ((100% - 30px) / 10) * 7 );}
table.list-style tr td.group4 > .w75 {width:calc( ((100% - 30px) / 10) * 7.5 );}
table.list-style tr td.group4 > .w80 {width:calc( ((100% - 30px) / 10) * 8 );}
table.list-style tr td.group4 > .w85 {width:calc( ((100% - 30px) / 10) * 8.5 );}
table.list-style tr td.group5 > * {display:block; float:left; margin-right:10px;}
/*table.list-style tr td.group5 > span {height:28px; line-height:28px; text-align:center;}*/
/*table.list-style tr td.group5 > *:first-child {margin-left:0;}*/
table.list-style tr td.group5 > *:last-child {margin-right:0;}
table.list-style tr td.group5 > .w0 {width:calc((100% - 40px) / 5);}
table.list-style tr td.group5 > .w5 {width:calc( ((100% - 40px) / 10) * 0.5 );}
table.list-style tr td.group5 > .w10 {width:calc( ((100% - 40px) / 10) * 1 );}
table.list-style tr td.group5 > .w15 {width:calc( ((100% - 40px) / 10) * 1.5 );}
table.list-style tr td.group5 > .w20 {width:calc( ((100% - 40px) / 10) * 2 );}
table.list-style tr td.group5 > .w25 {width:calc( ((100% - 40px) / 10) * 2.5 );}
table.list-style tr td.group5 > .w30 {width:calc( ((100% - 40px) / 10) * 3 );}
table.list-style tr td.group5 > .w35 {width:calc( ((100% - 40px) / 10) * 3.5 );}
table.list-style tr td.group5 > .w40 {width:calc( ((100% - 40px) / 10) * 4 );}
table.list-style tr td.group5 > .w45 {width:calc( ((100% - 40px) / 10) * 4.5 );}
table.list-style tr td.group5 > .w50 {width:calc( ((100% - 40px) / 10) * 5 );}
table.list-style tr td.group5 > .w55 {width:calc( ((100% - 40px) / 10) * 5.5 );}
table.list-style tr td.group5 > .w60 {width:calc( ((100% - 40px) / 10) * 6 );}
table.list-style tr td.group5 > .w65 {width:calc( ((100% - 40px) / 10) * 6.5 );}
table.list-style tr td.group5 > .w70 {width:calc( ((100% - 40px) / 10) * 7 );}
table.list-style tr td.group5 > .w75 {width:calc( ((100% - 40px) / 10) * 7.5 );}
table.list-style tr td.group5 > .w80 {width:calc( ((100% - 40px) / 10) * 8 );}
table.list-style tr td.group5 > .w85 {width:calc( ((100% - 40px) / 10) * 8.5 );}
table.list-style tr td.button > button {margin-left:10px;}
table.list-style tr td.button > button:first-child {margin-left:0;}
table.list-style tr td > .wHalf {width:calc(100% / 2) !important;}

table.innerTable {width:100%; border-style:none; border-collapse:collapse; table-layout:fixed; box-sizing:border-box;}
table.innerTable tr th,
table.innerTable tr td {border-bottom-style:none;}
table.innerTable tr th {background-color:#fff; text-align:right;}

/* Tab */
div.tab-style {position:relative; width:100%;}
div.tab-style > ul.tab {width:100%; height:40px; box-sizing:border-box; /* border-bottom:1px solid #ddd;*/}
div.tab-style > ul.tab * {box-sizing:border-box;}
div.tab-style > ul.tab li {float:left; padding:0 18px 3px 18px; height:40px; line-height:40px; font-size:13px; /*color:#ddd;*/ cursor:pointer;}
div.tab-style > ul.tab li.selected {padding-bottom:0; border-bottom:3px solid #0066b3; font-weight:bold; color:#0066b3; cursor:default;}
div.tab-style > ul.tab:after {content:''; display:block; float:none; clear:both;}
div.tab-style > div.tab-toolbar {position:absolute; top:0; right:0; height:40px; line-height:40px; text-align:right; font-size:12px;}
div.tab-style > div.tab-toolbar button {margin-left:10px;}
div.tab-style > div.tab-toolbar button:first-child {margin-left:0;}
div.tab-style > div.tab-panel {position:relative; width:100%; height:calc(100% - 40px);}
div.tab-style > div.tab-panel > div.tab-toolbar {position:absolute; top:0; right:0; height:40px; line-height:40px; text-align:right; font-size:12px;}
div.tab-style > div.tab-panel > div.tab-toolbar button {margin-left:10px;}
div.tab-style > div.tab-panel > div.tab-toolbar button:first-child {margin-left:0;}

p.icon-style {box-sizing:border-box; display:inline-block; width:auto; margin:0; padding:0 10px; height:24px; line-height:24px; color:#fff;}
p.icon-style {border-radius:14px 14px 14px 14px; -moz-border-radius:14px 14px 14px 14px; -webkit-border-radius:14px 14px 14px 14px;}
p.icon-style.ctype11 {background-color:#138808;}
p.icon-style.ctype21 {background-color:#0492c2;}
p.icon-style.ctype22 {background-color:#8b324d;}


/** login **/
.login_wrap {position:relative; display:flex; justify-content:center; align-items:center; width:100%; height:100vh; background:rgb(18,18,19); background:linear-gradient(45deg, rgba(18,18,19,1) 0%, rgba(54,23,206,1) 100%); }
.login_wrap:before {content:''; position:absolute; width:100%; height:100%; background:url(../images/layout/bg_login_min.png) no-repeat center center; opacity:0.7;}
.login_box {position:relative; z-index:5; height:43rem; width:40rem}
.login_box h1 {margin-bottom:4rem; text-align:center;}
.login_box h1 .skt {opacity:.7}
.login_box h1 .logo {margin-top:var(--padding-small); margin-bottom:0.4rem;}
.login_box h1 .fullname {font-size:var(--font-size); font-weight:400;}
.login_box .login_frm {width:100%; margin-bottom:1rem}
.login_box input {height:5rem; width:100%; padding:0 3rem; margin-bottom:1.5rem; font-size:var(--font-medium); border-radius:2.5rem; background:rgba(255,255,255,.1); border:1px solid rgba(255,255,255,.1)}
.login_box label.checkbox span {margin-left:0.3rem; color:rgba(255,255,255,.5);}
.login_box span.sub-button {display:inline-block; float:right;}
.login_box button[type='submit'] {width:100%; height:6rem; margin-top:3rem; font-size:var(--font-title); border-radius:3rem; background:var(--font-titColor); color:#3617ce; font-weight:700; border:0}
.login_box button[type='submit']:hover {background:var(--bg-container); color:var(--font-titColor); cursor:pointer;}
.login_box footer {font-size:var(--font-size); color:rgba(255,255,255,.3); text-align:center;}


/** PagePanel **/
#header {position:relative; z-index:10; display:flex; justify-content:space-between; height:var(--height); padding:0 var(--padding-contain); background:var(--bg-container); border-bottom:1px solid var(--border-color) }
#header h1 {display:flex; align-items:center; gap:var(--padding-small); font-size:0}
#header h1 .logo {display:inline-flex; align-items:center; height:var(--height); }
#header h1 .logo img {height:auto; width:68px}
.select_project {position:relative; display:inline-flex; align-items:center; width:13rem; height:var(--height);}
.tomars_onoff {position:relative; display:inline-flex; align-items:center; width:3rem; height:var(--height);}
.tomars_onoff .btn_tomars {display:block; width:3rem; height:var(--height); background:url(../images/icon/ic_arrow.png) no-repeat center center / 11px 7px; font-size:0; transition:transform .3s;}
.tomars_onoff ul {position:absolute; top:var(--height); right:0; width:11rem; padding:var(--padding-small) 0; visibility:hidden; opacity:0; border:1px solid var(--border-color); background:var(--bg-container); transition:opacity 0.3s;}
.tomars_onoff li {display:block; padding:0.4rem 2rem; font-size:var(--font-medium); font-weight:400; cursor:pointer}
.tomars_onoff li:hover {background:var(--color-point); color:var(--font-btnColor); }
.tomars_onoff.active .btn_tomars {transform:rotate(180deg);}
.tomars_onoff.active ul {visibility:visible; opacity:1;}

.gnb {border:1px solid transparent; transition:all .3s; font-size:var(--font-medium); }
.gnb > ul {display:flex}
.gnb > ul > li {position:relative; display:inline-block; width:15rem; height:var(--height); font-weight:500; color:var(--font-titColor); letter-spacing:0;}
.gnb a:hover {text-decoration:none;}
.gnb > ul > li > a {display:block; text-align:center; line-height:var(--height); }
.gnb > ul > li > ul {position:relative; top:0; width:15rem; padding:0.5rem 0; visibility:hidden; opacity:0; border-right:1px solid var(--border-color); font-weight:500; transition:all .3s;}
.gnb > ul > li:last-child > ul {border-right:0}
.gnb > ul > li > ul > li > a {display:block; height:2.4rem; padding:0.4rem 1.4rem; line-height:2.4rem; font-size:15px}
.gnb > ul > li > ul > li > a:hover {background:var(--color-point); color:var(--font-btnColor); }
.gnb.active {height:100%; border-color:var(--border-color); background:var(--bg-container); }
.gnb.active > ul > li > a {border-right:1px solid var(--border-color);}
.gnb.active > ul > li > ul {visibility:visible; opacity:1;}
.gnb > ul > li.active > a, .gnb > ul > li > a:hover {color:var(--color-point); background:var(--bg-body); border-left:1px solid var(--border-color); }
.gnb > ul > li:last-child.active > a, .gnb > ul > li:last-child > a:hover {border-right:none}

#header .user, #header .user ul {display:flex; align-items:center;}
#header .user li {position:relative; display:inline-block; width:14px; height:15px; margin-right:2rem; font-size:0; cursor:pointer}
.user li.notice {background:url(../images/icon/ic_bell.png) no-repeat 0 0 / cover}
.user li.logout {background:url(../images/icon/ic_logout.png) no-repeat 0 0 / cover}
.user li.setting {background:url(../images/icon/ic_setting.png) no-repeat 0 0 / cover}
.user_time {display:inline-block; margin-left:0.6rem; font-size:var(--font-small)}
.user em.new {position:absolute; top:-0.6rem; right:-1.2rem; display:flex; justify-content:center; align-items:center; width:1.8rem; height:1.8rem; border-radius:50%; background:var(--color-red); color:var(--font-btnColor); font-size:var(--font-small); font-weight:700}


/** 모니터링 **/
.process_wrap {height:calc(100% + 2.2rem); width:calc(100% + 2.4rem); margin:-1.1rem; background:var(--bg-body); border:1px solid var(--bg-body); }
.lnb_process {float:left; position:relative; width:300px; height:100%; margin-right:var(--padding-small); background:var(--bg-container); border:1px solid var(--border-color) }
.lnb_process.fold {height:34px; width:34px;}
.lnb_process.fold > * {opacity:0; visibility:hidden;}
.lnb_process.fold > .btn_fold {opacity:1; visibility:visible; transform:rotate(180deg)}
.btn_fold {position:absolute; right:0; top:0; padding:1.7rem; width:1rem; min-width:1rem; height:1rem; background:url(../images/icon/ic_fold.png) no-repeat center center / 1rem 1rem; font-size:0; border-style:none; cursor: pointer}
.btn_fold:hover {background-color:transparent;}
.lnb_process .tab_box {padding:var(--padding-small) 0 0 0; height:calc(100% - 6rem); overflow:auto;}
.lnb_process .tab_box h4 {position:relative; z-index:1; margin-bottom:0.4rem;}
.lnb_process .tab_box h4 em:before {background:none}
.lnb_process .tab_box h4 em.state {margin-left:0}
.lnb_process .tab_box ul {position:relative}
.lnb_process .tab_box ul:before {content:''; position:absolute; top:-11px; left:4.5px; display:inline-block; height:25px; width:1px; background:var(--border-color)}
.lnb_process .tab_box li {position:relative; padding-left:var(--padding-small); line-height:2.5rem; color:var(--font-color); cursor:pointer; white-space: nowrap}
.lnb_process .tab_box li:before {content:''; position:absolute; top:12.5px; left:4.5px; display:inline-block; width:1px; height:100%; background:var(--border-color)}
.lnb_process .tab_box li:after {content:''; position:absolute; left:10px; top:5px; display:block; width:14px; height:14px; background:url(../images/icon/ic_plus.png) no-repeat 0 0 / 14px 14px;}
.lnb_process .tab_box li.active:after {content:''; background:url(../images/icon/ic_minus.png) no-repeat 0 0 / 14px 14px;}
.lnb_process .tab_box li:last-child:before {height:0px;}
.lnb_process .tab_box em:before {content:''; position:absolute; top:12.5px; left:5px; display:inline-block; width:22px; height:1px; background:var(--border-color)}
.lnb_process .tab_box li > ul {display:none}
.lnb_process .tab_box li.active {color:var(--color-point); /*font-weight:700;*/}
.lnb_process .tab_box li.active > ul {display:block}
.lnb_process .tab_box > ul > li > ul > li {font-size:1.2rem}
.lnb_process .tab_box ul.depth_last li:after {background:none}

.state {display:inline-block; width:var(--state-size); height:var(--state-size); margin-left:1.8rem; margin-right:0.3rem; border-radius:50%; }
.ok {background:var(--ok)}
.error {background:var(--error)}
.suspend {background:var(--suspend)}
.warning {background:var(--warning)}

.abort {background: #ff0000}
.waiting {background: gray}
.stop {background: #ffc000}
.running {background: #00b050}

.process_con {float:left; width:calc(100% - 300px - var(--padding-small)); padding:0; background:none; border:none; }
.lnb_process.fold + .process_con {width:calc(100% - 4.4rem)}
.notab_panel {display:block; position:relative; z-index:1; top:-1px; height:100%; padding:var(--padding-small); background:var(--bg-container); border:1px solid var(--border-color); }
#grid .state, .jqgrid_wrap .state, table .state {margin:0; width:var(--state-big); height:var(--state-big);}

.block_wrap, .diagram_wrap {height:calc(100% - 43px); overflow:auto;}
.block_item, .diagram_item, .diagramDetail_item {min-height:2.7rem; margin-bottom:0.3rem; padding:0.6rem; background:var(--bg-article); border-radius:var(--box-round);}
.block_item:last-child, .diagram_item:last-child {margin-bottom:0}
.block_item ol, .diagram_item ol, .diagramDetail_item ol {display:flex; gap:0.4rem;}
.block_item li {text-align:center;}
.block_item li span, .diagram_item li span {display:flex; align-items:center; min-height:2rem; padding:0.2rem 0.7rem 0.3rem 0.7rem; border-radius:2rem; font-weight:700; box-sizing:border-box;}
.block_item li em {display:block; margin-top:0.4rem}
.block_item li em.caution {display:block; margin-top:0.4rem; color:var(--error)}
.block_item .service span, .block_item .flow span {background:var(--btn-ghost); border:1px solid var(--color-point);}
.block_item .type span, .diagram_item .type span {position:relative; color:var(--font-btnColor)}
.block_item .type span {justify-content:center;}

.diagram_item li, .diagramDetail_item li {position:relative; margin-right:2rem; }
.diagram_item .child li:last-child, .diagramDetail_item .child li:last-child {margin-right:0}
.diagram_item li span {display:flex; padding:0.2rem 0.5rem 0.3rem 0.2rem;}
/* .diagram_item li span + span {margin-top:0.4rem} */
.diagram_item li .type {height:2rem}
.diagram_item li .child + .child {margin-top:0.4rem}
.diagram_item span:before {content:''; display:inline-block; width:1.9rem; height:1.89rem; margin-top:-0.2rem; margin-bottom:-0.3rem; margin-right:0.3rem; border-radius:var(--round-medium);}
.diagram_item .service span, .diagram_item .flow span {margin-right:-2rem; background:var(--btn-ghost); border:1px solid var(--color-point);}
.diagram_item .service span:before {background:var(--color-point) url(../images/icon/ic_service.png) no-repeat center center / 1.3rem 1.3rem}
.diagram_item .flow span:before {background:var(--color-point) url(../images/icon/ic_flow.png) no-repeat center center / 1.3rem 1.3rem}
.diagram_item .type span:before {background:var(--btn-ghost) url(../images/icon/ic_service.png) no-repeat center center / 1.3rem 1.3rem; }
.diagram_item .type .uc:before {background-image:url(../images/icon/ic_uc.png);}
.diagram_item .type .ai:before {background-image:url(../images/icon/ic_ai.png);}
.diagram_item .type .rt:before {background-image:url(../images/icon/ic_rt.png);}
.diagram_item .type .ft:before {background-image:url(../images/icon/ic_ft.png);}
.diagram_item .type .ci:before {background-image:url(../images/icon/ic_ci.png);}
.diagram_item .type .wi:before {background-image:url(../images/icon/ic_wi.png);}
.diagram_item .flow + .type span:after {display:none;}
.diagram_item .type span:after {content:''; position:absolute; left:-21px; top:4px; display:block; height:11px; width:18px; background:url(../images/icon/arrow_normal.png) no-repeat center center; }
.diagram_item .branch .child:not(:first-child) li:first-child span:after {content:''; position:absolute; left:-61px; top:-2px; display:block; height:19px; width:59px; background:url(../images/icon/arrow_branch.png) no-repeat center center; }
/* .diagram_item .type:before {content:''; position:absolute; right:-18px; top:8px; display:block; height:2px; width:15px; background:var(--tbl-thBorder); }
.diagram_item .type span:after {content:'';  position:absolute; right:-21px; top:3.5px; width:7px; height:11px; background:url(../images/icon/ic_arrowflow.png) no-repeat 0 0 / 7px 11px}
.diagram_item .type.branch:before {left:calc(-50% - 1.7rem); bottom:8px; top:50%; right:auto; width:2px; height:10px;}
.diagram_item .type.branch:after, .diagram_item .type.branch2:after {content:''; position:absolute; bottom:calc(50% - 1.2rem); left:calc(-50% - 1.6rem); display:block; height:2px; width:calc(50% + 11px); background:var(--tbl-thBorder)}
.diagram_item .type.branch span:after {display:none}
.diagram_item .type.branch span + span:after {display:block; left:-9px; right:auto;}
.diagram_item .type.branch2:before {left:-20px; right:auto}
.diagram_item .type.branch2:after {left:-20px; width:15px;}
.diagram_item .type.type.branch2 span:after {right:auto; left:-9px} */

.diagramDetail_item .service span, .diagramDetail_item .flow span {display:flex; align-items:center; min-height:4rem; padding:0 1rem 0 0.2rem; margin-right:-2rem; background:var(--btn-ghost); border:1px solid var(--color-point); border-radius:2rem; font-weight: 700; box-sizing:border-box; cursor:pointer;}
.diagramDetail_item .service span:before, .diagramDetail_item .flow span:before {content:''; display:inline-block; width:1.8em; min-height:3.4rem; height:calc(100% - 2rem); margin-right:0.6rem; border-radius:4rem 1rem 1rem 4rem; background:var(--color-point) url(../images/icon/ic_service.png) no-repeat center center / 14px 14px;}
.diagramDetail_item .flow span:before {background:var(--color-point) url(../images/icon/ic_flow.png) no-repeat center center / 14px 14px;}
.diagramDetail_item .type div {position:relative; /*width:134px;*/ padding:0.8rem; border:1px solid var(--tbl-thBorder); background:var(--box-color); border-radius:var(--box-round); cursor:context-menu;}
.diagramDetail_item .type div p.tit {margin-bottom:0.3rem; font-size:var(--font-size); font-weight:700; color:var(--font-titColor); }
.diagramDetail_item .type div p {color:var(--font-blurColor); font-size:var(--font-form); line-height:1.5}
.diagramDetail_item .type div p span {color:var(--font-color); font-size:var(--font-size);}
.diagramDetail_item .type .child + .child {margin-top:0.4rem}
.diagramDetail_item .flow + .type div:after {display:none;}
/* .diagramDetail_item .type .fixed {height:8rem; padding:0; border:0; background:none}
.diagramDetail_item .type .fixed:after {display:none} */
.diagramDetail_item .type div:after {content:''; position:absolute; left:-21px; top:10px; display:block; height:11px; width:18px; background:url(../images/icon/arrow_normal.png) no-repeat center center; }
.diagramDetail_item .branch .child:not(:first-child) li:first-child div:after {content:''; position:absolute; left:-92px; top:-68px; display:block; height:92px; width:89px; background:url(../images/icon/arrow_branchDetail2.png) no-repeat center center; }
.diagramDetail_item .branch .child:nth-child(2) li:first-child div:after {content:''; position:absolute; left:-92px; top:-2px; display:block; height:23px; width:89px; background:url(../images/icon/arrow_branchDetail.png) no-repeat center center; }
/* .diagramDetail_item .type:before {content:''; position:absolute; right:-19px; top:16px; display:block; height:2px; width:15px; background:var(--tbl-thBorder);}
.diagramDetail_item .type div:after, .diagramDetail_item .type div + div:before {content:'';  position:absolute; right:-22px; top:11px; width:7px; height:11px; background:url(../images/icon/ic_arrowflow.png) no-repeat 0 0 / 7px 11px}
.diagramDetail_item .type:last-child div:after {background:none}
.diagramDetail_item .type.branch:before {left:calc(-50% - 1.9rem); top:auto; bottom:calc(50% - 2rem); right:auto; width:2px; height:20px;}
.diagramDetail_item .type.branch:after {content:''; position:absolute; bottom:calc(50% - 2rem); left:calc(-50% + -18px); display:block; height:2px; width:calc(50% + 14px); background:var(--tbl-thBorder);}
.diagramDetail_item .type.branch span + span:after {display:block; left:-9px; right:auto;}
.diagramDetail_item .type div + div:before {left:-11px; top:11px;}
.diagramDetail_item .type.branch2:before {right:auto; left:-20px}
.diagramDetail_item .type.branch2:after, .diagramDetail_item .type.branch2 div+div:after {content:''; position:absolute; right:auto; left:-20px; top:16px; display:block; height:2px; width:15px; background:var(--tbl-thBorder);} */
.diagramDetail_item .type .ok {color:var(--suspend); background:none}
.diagramDetail_item .type .error {color:var(--error); background:none}


/** flow designer **/
.flow_designer.row {align-items:flex-start; gap:0; height:calc(100% - 4.4rem);}
.flow_designer .process_icon {align-items:flex-start; width:7rem; height:100%; padding:1.4rem 1rem; border-radius:var(--box-round); border:1px solid var(--border-color); overflow:auto;}
.flow_designer .process_icon ul {width:100% }
.flow_designer .process_icon li {margin-bottom:1.5rem;}
.flow_designer .process_icon li:last-child {margin-bottom:0;}
.icon_item {padding:var(--padding-small); background:var(--tbl-thBg); cursor:move; text-align:center; border-radius:var(--round-medium);}
.icon_item figure {margin-bottom:0.2rem; text-align:center;}
.process_icon figure img {width:2.2rem; height:auto}
.icon_item figcaption {text-align:center; font-size:var(--font-etc)}
.canvas .icon_item {padding:2rem; margin-right:3rem}
.canvas .icon_item figcaption {font-size:var(--font-title); font-weight:700;}
.canvas .icon_item.arrow, .canvas .icon_item.arrow2 {background:none}
.flow_designer .canvas {width:calc(87% - 7rem); height:100%; padding:var(--padding-small); background:var(--bg-article); border-radius:var(--box-round);  }
.flow_designer .lnb_flowSetting {display:block; width:13%; height:100%; padding:var(--padding-small); border-radius:var(--box-round); border:1px solid var(--border-color);}
.flow_designer .lnb_flowSetting h4 {position:relative; margin-top:var(--padding-small); margin-bottom:0.8rem;text-align:center; font-size:var(--font-etc); color:var(--font-titColor)}
.flow_designer .lnb_flowSetting .group {border-bottom:1px solid var(--border-color); }
.flow_designer .lnb_flowSetting .group_tit {display:flex; justify-content:space-between; align-items:center; margin:0.8rem 0.4rem 0.3rem 0rem; font-size:var(--font-size); color:var(--font-titColor)}
.flow_designer .lnb_flowSetting .tab_box .row {gap:0; margin-bottom:0; border-bottom:1px solid var(--tbl-tdBorder);}
.flow_designer .lnb_flowSetting .tab_box > .row:nth-of-type(1) {border-top: 1px solid var(--tbl-thBorder);}
.flow_designer .lnb_flowSetting .tit {padding:0.5rem; justify-content:center; background:var(--tbl-thBg); color:var(--font-titColor)}
.flow_designer .lnb_flowSetting .tit:first-child { width:7rem; }
.flow_designer .lnb_flowSetting .tit:last-child {width:calc(100% - 7rem);}
.flow_designer .lnb_flowSetting .tab_box .row > label, .flow_designer .lnb_flowSetting .tab_box .row > .label {display:block; width:7rem; padding-right:0.4rem}
.flow_designer .lnb_flowSetting .tab_box .row > label + *, .flow_designer .lnb_flowSetting .tab_box .row > .label + * {width:calc(100% - 7rem); margin-top:0.3rem; margin-bottom:0.5rem}
.add {position:absolute; right:0; top:-2px; width:20px; height:20px; background:#000 url(../images/icon/ic_add.png) no-repeat center center / 12px auto; border:2px solid #000; border-radius:4px; font-size:0; cursor:pointer}
.add:hover {border-color:var(--color-point);}
.del {width:18px; height:18px; background:url(../images/icon/ic_close.png) no-repeat center center / 12px auto; font-size:0; border:2px solid var(--bg-container); cursor:pointer; border-radius:4px; }
.del:hover {border-color:var(--color-point);}
/*.select2-dropdown {z-index:8 !important}*/